__pycache__/
*.pyc
*.log
database/
phishing_agent/credentials.json
phishing_agent/token.json
credentials.json
token.json
.vscode/
.idea/
*.sqlite
phishing_agent/env/
phishing_agent/models/
env
phishing_agent/dashboard/report.html

